@import 'colors';

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

html {
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: lighten($color-background-highlight, 10%);
}


// code mirror
#cmeditor {
  height: 100%;
}

.cm-s-monochrome.CodeMirror { 
  background: $color-background; 
  color: $color-text;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  height: 100%;
}
.cm-s-monochrome div.CodeMirror-selected { background: $color-background-highlight !important; }
.cm-s-monochrome .CodeMirror-gutters { background: $color-background-highlight; border-right: 1px solid mix($color-background-highlight, $color-background, 70%); }
.cm-s-monochrome .CodeMirror-linenumber { color: $color-text; }
.cm-s-monochrome .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-monochrome .cm-keyword { color: $color-text; font-weight: bold; }
.cm-s-monochrome .cm-atom {color: darken($color-text-highlight, 5%); }
.cm-s-monochrome .cm-number {color: darken($color-text-highlight, 5%)}
.cm-s-monochrome .cm-def {color: darken($color-text-highlight, 5%) }
.cm-s-monochrome .cm-variable { color: $color-text; }
.cm-s-monochrome .cm-variable-2 { color: $color-text; }
.cm-s-monochrome .cm-variable-3 { color: $color-text; }
.cm-s-monochrome .cm-property { color: $color-text; }
.cm-s-monochrome .cm-operator {color: $color-text-hide; }
.cm-s-monochrome .cm-comment {color: $color-text-hide; }
.cm-s-monochrome .cm-string {color: darken($color-text-highlight, 5%) }
.cm-s-monochrome .cm-string-2 {color: darken($color-text-highlight, 5%) }
.cm-s-monochrome .cm-meta {color: $color-text-hide;}
.cm-s-monochrome .cm-error {color: #f00;}
.cm-s-monochrome .cm-qualifier { color: $color-text; font-weight: bold; }
.cm-s-monochrome .cm-builtin { color: $color-text-hide; }
.cm-s-monochrome .cm-bracket { color: $color-text-hide; }
.cm-s-monochrome .cm-tag { color: $color-text-hide; }

.cm-s-monochrome .cm-attribute { color: inherit; }
.cm-s-monochrome .cm-header { color: inherit; }
.cm-s-monochrome .cm-quote { color: inherit; }
.cm-s-monochrome .cm-hr {color: inherit;}
.cm-s-monochrome .cm-link {color: inherit;}

.cm-s-monochrome .brackets {
  width: 25px;
  background: $color-background; 
  position: relative;
}

.vars-in-scope {
  position: absolute;
  background: mix($color-background-highlight, $color-background, 50%);
  font-size: 0.6em;
  border-radius: 4px;

  .binding {
    padding: 0 0.5em;
  }

}

//.code {

 // position: relative;
  //padding-left: 2em;
// line-height: 1.3em;
  .bracket {
    position: absolute;
    display: block;
    width: 5px;
    //width: 95%;
    border: 1.5px solid $color-background-highlight;
    border-right: none;
    border-radius: 4px;
    //z-index: 0;
    -webkit-transition: background 1s;
  }

  .bracket.show-scope {
    background: mix($color-background, $color-background-highlight, 80%);
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -ms-transition: background 0.4s;
    transition: background 0.4s;
  }

  
 
  .keyword {
    font-weight: bold;  
  }

  .constant {
    color: $color-text-highlight;
  }

  .comment {
    color: $color-text-hide;
  }

  .punctuator {
    color: $color-text-hide;
  }

  .function { }

  .bracket {
    //&.level0 { border-color: $color-level0; }
    &.level1 { border-color: $color-level1; left: 5px;  width: 20px; }
    &.level2 { border-color: $color-level2; left: 8px; width: 17px; }
    &.level3 { border-color: $color-level3; left: 11px; width: 14px; }
    &.level4 { border-color: $color-level4; left: 14px; width: 11px; }
    &.level5 { border-color: $color-level5; left: 17px; width: 8px; }
    &.level6 { border-color: $color-level6; left: 17px; width: 5px; }
    &.level7 { border-color: $color-level7; left: 20px; width: 3px; }
    &.level8 { border-color: $color-level8; left: 23px; width: 1px; }
  }

  .id {

    //border: 1px solid transparent;
    border-radius: 3px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;

    &.level1, &.level2, &.level3, &.level4, &.level5, &.level6, &.level7, &.level8̛ {
      cursor: help;
    }

    &.highlight-bound { 
      background-color: mix($color-background-highlight, $color-background, 30%);
      -webkit-transition: background-color 0.4s;
      -moz-transition: background-color 0.4s;
      -o-transition: background-color 0.4s;
      -ms-transition: background-color 0.4s;
      transition: background-color 0.4s;
      
    }

    &.level0 { border-bottom: 1px dashed $color-background-highlight; }
    &.level1 { color: $color-level1; }
    &.level2 { color: $color-level2; }
    &.level3 { color: $color-level3; }
    &.level4 { color: $color-level4; }
    &.level5 { color: $color-level5; }
    &.level6 { color: $color-level6; }
    &.level7 { color: $color-level7; }
    &.level8 { color: $color-level8; }
  }
//}